/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

app-list {
	margin: 2em 1em;
	height: 89vh;
}

app-card {
	margin: 1em;
}